@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-hero
}
/* login button start */
.leaf {
  background-image: linear-gradient(to right, rgb(241, 58, 1), rgb(151, 36, 1));
}
.leaf {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  line-height: normal;
  margin: 0;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.leaf:disabled {
  pointer-events: none;
}
.leaf:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.leaf:active {
  box-shadow: none;
  transform: translateY(0);
}
/* login button end */